h2 {
	background:url(../img/title_bg.jpg)  no-repeat;
	padding-left: 30px;
	padding-top: 0;
	letter-spacing: 10px;
	margin-top:20px;
}

#practice_preview {
	width:950px;
	margin:auto;
}

.score {
	font-size:13px;
	margin: 10px 0 0 10px;
}

.choice_options {
	display: none;
	padding:5px;
	margin-left:20px;
	background:#EFF5FE;
	font-size:13px;
	cursor:default;
}

a.status {
	color:blue;
	position:relative;
	float:right;
	top:10px;
	left:-2px;
}

button[name='choice'] {
	position: relative;
	margin-top:10px;
}

p.options {
	padding:3px 0;
}

input[type='radio'] {
	margin: 0 5px;
}


.bottom-buttons {
	margin:20px 0;
	text-align:center;
}

.file_frame {
	font-weight:bold;
	font-size:15px;
	padding-left:10px;
	margin-top:5px;
	cursor:pointer;
	border:1px solid #C1DBFA;
}

.file_frame:hover{
	background:#E5EDEF;
}
